# Ignore lintr configuration file
.lintr

# Ignore Conda environment files
environment.yml
*.lock

# Ignore Python virtual environments
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.Rhistory

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore large data files
*.hdf
*.tif
*.tiff
*.shp
*.shx
*.dbf
*.prj
*.geojson
*.tsv
*.xlsx

# Ignore cache and log files
*.log
*.tmp
.DS_Store
Thumbs.db

# Ignore IDE and editor configurations
.vscode/
.idea/
.Rproj.user/

# Ignore outputs and generated results
#outputs/*
#!outputs/.gitkeep
sampling.gpkg
!modis_crs.hdf
/output/
/temp/
*.tif